name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-dev build-essential
        python -m ensurepip --upgrade
        python -m pip install --upgrade pip setuptools wheel
        # Install Buildozer, P4A, Nuitka
        python -m pip install buildozer python-for-android nuitka

    - name: Build APK
      run: |
        buildozer android debug
